{% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- title -->
    <title>JobRec - AI-Powered Job Platform</title>

    <!-- favicon -->
<!-- favicon -->
<link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo/favicon.png' %}">

<!-- css -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/all-fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/feather.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


</head>

<body class="home-2">

    <!-- preloader -->
    <div class="preloader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end -->


    <!-- header area -->
    <header class="header">
        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'homepage' %}">
                        <img src="{% static 'assets/img/logo/logo.png' %}" alt="logo">
                    </a>
                    <div class="mobile-menu-right">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-btn-icon"><i class="far fa-bars"></i></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="{% url 'homepage' %}">
                                <i class="fe-home me-1"></i>Home
                            </a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'post_job' %}">
                                <i class="fe-briefcase me-1"></i>Post a Job
                            </a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'find_job' %}">
                                <i class="fe-search me-1"></i>Find a Job
                            </a></li>
                        </ul>
                        <div class="header-nav-right">
                            <div class="header-btn">
                                <a href="{% url 'find_job' %}" class="theme-btn"><span class="fe-upload"></span> Get Recommendations</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- header area end -->
